@media (max-width: 1366px)
{
    body {
        background-color: aquamarine;
    }
}

@media (max-width: 1200px)
{
    body {
        background-color: skyblue;
    }
}

@media (max-width: 768px)
{
    body {
        background-color: orange;
    }
}

@media (max-width: 480px)
{
    body {
        background-color: plum;
    }
}
